// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//colors
$blue: #2980b9;
$light-bl: #ecf4f9;

//border
$border: 1px solid rgba(0,0,0,.1);

@import 'layout';
@import 'form';